
.link {
	cursor: pointer;
	cursor: hand;
}

.paracontent {
	text-align: center;
	background-color: azure;
}
.paravideo {
	height: 100vh;
	width: 100%;
}
.paravideo video {
	width: 100%;
	object-fit: cover;
	min-height: 100%;
	position: fixed;
	z-index: -100;
}

.paravideo h2 {
	text-align: center;
	color: black;
	font-size: 50px;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: -100;
}
.paravideo img {
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: -100;
}

html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scrollbar-width: none;
}
main {
	position: relative;
	width: 100%;
	/* min-height: 100vh; */
	overflow: auto;
}
body::-webkit-scrollbar {
	width: 0;
}
footer {
	margin-top: auto;
	/* background-color: #f1f1f1; */
	background-color: rgba(0, 0, 0, 0.2);
}
footer div	
.logo-animado {
	height: 50vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: -100;
}
.hidden {
	visibility: hidden;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		both;
	animation: swing-in-top-fwd 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
.swing-out-top-bck {
	-webkit-animation: swing-out-top-bck 0.45s
		cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
	animation: swing-out-top-bck 0.45s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@-webkit-keyframes swing-in-top-fwd {
	0% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}

@keyframes swing-in-top-fwd {
	0% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
}

@-webkit-keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}
@keyframes swing-out-top-bck {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(-100deg);
		transform: rotateX(-100deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		opacity: 0;
	}
}
/* submenu dropdown */

.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

/* Path: TPFINALPWD/Vista/css/estilos.css */